header h1 {
    text-align: center;
    color: rgb(199, 189, 189);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(160, 101, 14, 0.397);
    box-shadow: 10px 10px 30px rgba(17, 9, 9, 0.514);
    border-radius: 100px;
    padding: 10px 20px 10px 50px;
    text-shadow: 0px 10px 10px rgb(0, 0, 0);
     margin: 10px 300px 40px;   
}
header nav ul {
    text-align: center;
    
    
}
header nav ul li {
    text-decoration:none;
    display: inline;
    
}
header nav ul li :hover{
    justify-content: center;  
    background-color: rgb(155, 106, 42);
}
header nav ul li a {

    text-decoration: none;
    color: rgb(12, 12, 12);
    font-size: 20px;
    margin: 10px;
    background-color: rgba(129, 128, 58, 0.425);
    box-shadow: 2px 5px 100px rgb(0, 0, 0);
    text-shadow: 10px 20px 30px gray;
    border-radius: 30px;
    padding: 10px;
    
}