header h1 {
    text-align: center;
    color: rgb(201, 124, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
    box-shadow: 10px 20px 30px gray;
    border-radius: 100px;
    padding: 10px 20px 10px 50px;
}
header nav ul {
    text-align: center;
    margin-top: 10px;
    
}
header nav ul li {
    text-decoration:none;
    display: inline;
    
}
header nav ul li :hover{
    justify-content: center;  
    background-color: rgb(43, 118, 141);
}
header nav ul li a {

    text-decoration: none;
    color: rgb(12, 12, 12);
    font-size: 20px;
    margin: 10px;
    background-color: rgba(11, 103, 146, 0.8);
    box-shadow: 2px 5px 100px rgb(11, 103, 146);
    text-shadow: 10px 20px 30px gray;
    border: 5px solid rgb(11, 103, 146, 0.8);
    border-radius: 30px;
    padding: 5px;
}